@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap");
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Italic.eot");
  src: local("Cera Pro Italic"), local("CeraPro-Italic"), url("../fonts/CeraPro-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro-Italic.woff") format("woff"), url("../fonts/CeraPro-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Regular.eot");
  src: local("Cera Pro Regular"), local("CeraPro-Regular"), url("../fonts/CeraPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro-Regular.woff") format("woff"), url("../fonts/CeraPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-BlackItalic.eot");
  src: local("Cera Pro Black Italic"), local("CeraPro-BlackItalic"), url("../fonts/CeraPro-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro-BlackItalic.woff") format("woff"), url("../fonts/CeraPro-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Light.eot");
  src: local("Cera Pro Light"), local("CeraPro-Light"), url("../fonts/CeraPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro-Light.woff") format("woff"), url("../fonts/CeraPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-BoldItalic.eot");
  src: local("Cera Pro Bold Italic"), local("CeraPro-BoldItalic"), url("../fonts/CeraPro-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro-BoldItalic.woff") format("woff"), url("../fonts/CeraPro-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Black.eot");
  src: local("Cera Pro Black"), local("CeraPro-Black"), url("../fonts/CeraPro-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro-Black.woff") format("woff"), url("../fonts/CeraPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Medium.eot");
  src: local("Cera Pro Medium"), local("CeraPro-Medium"), url("../fonts/CeraPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro-Medium.woff") format("woff"), url("../fonts/CeraPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Bold.eot");
  src: local("Cera Pro Bold"), local("CeraPro-Bold"), url("../fonts/CeraPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro-Bold.woff") format("woff"), url("../fonts/CeraPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Thin.eot");
  src: local("Cera Pro Thin"), local("CeraPro-Thin"), url("../fonts/CeraPro-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro-Thin.woff") format("woff"), url("../fonts/CeraPro-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-MediumItalic.eot");
  src: local("Cera Pro Medium Italic"), local("CeraPro-MediumItalic"), url("../fonts/CeraPro-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro-MediumItalic.woff") format("woff"), url("../fonts/CeraPro-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-LightItalic.eot");
  src: local("Cera Pro Light Italic"), local("CeraPro-LightItalic"), url("../fonts/CeraPro-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro-LightItalic.woff") format("woff"), url("../fonts/CeraPro-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-ThinItalic.eot");
  src: local("Cera Pro Thin Italic"), local("CeraPro-ThinItalic"), url("../fonts/CeraPro-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro-ThinItalic.woff") format("woff"), url("../fonts/CeraPro-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Cera Pro", sans-serif;
}

.header {
  background: url(../images/Virna_oblojka_home.jpg) no-repeat;
  background-position: center;
}
@media (min-width: 768px) {
  .header {
    background: url(../images/Virna_oblojka_home768.jpg) no-repeat;
    background-position: top;
  }
}
@media (min-width: 960px) {
  .header {
    background: url(../images/Virna_oblojka_home960.jpg) no-repeat;
    background-position: top;
    background-size: contain;
  }
}
@media (min-width: 1440px) {
  .header {
    background: url(../images/Virna_oblojka_home1440.png) no-repeat;
    background-position: top;
    background-size: contain;
  }
}
@media (min-width: 1921px) {
  .header {
    background: url(../images/Virna_oblojka_home1921.jpg) no-repeat;
    background-position: top;
    background-size: contain;
  }
}
.header__flex {
  display: flex;
  justify-content: space-between;
}
.header__left {
  padding-left: 7px;
  padding-bottom: 29px;
  width: 45%;
  background: #FFFFFF;
}
@media (min-width: 768px) {
  .header__left {
    padding-top: 30px;
    padding-left: 39px;
    width: 53%;
  }
}
@media (min-width: 960px) {
  .header__left {
    padding-left: 86px;
    width: 48%;
    padding-top: 28px;
  }
}
@media (min-width: 1440px) {
  .header__left {
    padding-left: 139px;
    width: 50%;
  }
}
@media (min-width: 1921px) {
  .header__left {
    padding-left: 255px;
    width: 47%;
  }
}
.header__left-logo {
  display: none;
}
@media (min-width: 768px) {
  .header__left-logo {
    display: block;
  }
}
@media (min-width: 960px) {
  .header__left-logo {
    width: 100px;
    height: 13px;
  }
}
@media (min-width: 1440px) {
  .header__left-logo {
    width: 93px;
    height: 13px;
    margin-top: -5px;
  }
}
.header__left h1 {
  display: none;
  width: 290px;
  font-weight: bold;
  font-size: 42px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: #000000;
  margin-top: 60px;
}
@media (min-width: 768px) {
  .header__left h1 {
    display: block;
  }
}
@media (min-width: 960px) {
  .header__left h1 {
    font-size: 47px;
    margin-top: 80px;
  }
}
@media (min-width: 1440px) {
  .header__left h1 {
    font-size: 71px;
    margin-top: 111px;
  }
}
.header__left-clothing {
  display: none;
  width: 71px;
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  text-align: right;
  letter-spacing: 0.04em;
  color: #000000;
  margin-left: -24px;
  transform: rotate(-90deg);
}
@media (min-width: 768px) {
  .header__left-clothing {
    display: inline-block;
    margin-top: 26px;
    margin-left: -19px;
  }
}
@media (min-width: 960px) {
  .header__left-clothing {
    margin-top: 15px;
  }
}
.header__left-menus {
  display: flex;
  padding-top: 409px;
  align-items: inherit;
  justify-content: space-between;
  margin-right: 9px;
}
@media (min-width: 768px) {
  .header__left-menus {
    padding-top: 111px;
    margin-right: 24px;
  }
}
@media (min-width: 960px) {
  .header__left-menus {
    padding-top: 165px;
  }
}
.header__left-icons {
  display: flex;
  margin-left: 10px;
}
@media (min-width: 768px) {
  .header__left-icons {
    margin-left: -25px;
  }
}
@media (min-width: 960px) {
  .header__left-icons {
    margin-left: -24px;
  }
}
.header__left-icons img {
  margin-left: 19px;
}
.header__left .active {
  display: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  z-index: 1;
  margin-right: 71px;
}
@media (min-width: 768px) {
  .header__left .active {
    display: inline-block;
  }
}
@media (min-width: 960px) {
  .header__left .active {
    margin-right: 79px;
  }
}
.header__left .active::after {
  content: url(../images/line.svg);
  margin-left: 2px;
  vertical-align: top;
}
.header__right {
  width: 18%;
  background: #FFFFFF;
  padding-top: 29px;
}
@media (min-width: 768px) {
  .header__right {
    width: 15%;
    padding-top: 27px;
  }
}
@media (min-width: 960px) {
  .header__right {
    width: 23%;
  }
}
@media (min-width: 1440px) {
  .header__right {
    width: 31%;
    padding-right: 139px;
  }
}
@media (min-width: 1921px) {
  .header__right {
    width: 37%;
    padding-right: 255px;
  }
}
.header__right-icon {
  margin-left: 13%;
}
@media (min-width: 768px) {
  .header__right-icon {
    margin-left: 40%;
  }
}
@media (min-width: 960px) {
  .header__right-icon {
    margin-left: 34%;
    width: 54px;
  }
}
.header__right-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  transform: rotate(90deg);
  margin-top: 104px;
  margin-left: 12px;
}
@media (min-width: 768px) {
  .header__right-text {
    font-size: 16px;
    margin-top: 177px;
    margin-right: -49px;
  }
}
@media (min-width: 960px) {
  .header__right-text {
    font-size: 16px;
    margin-top: 238px;
    margin-right: -11px;
  }
}
@media (min-width: 1440px) {
  .header__right-text {
    font-size: 15px;
  }
}
.header__right-year {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  transform: rotate(90deg);
  margin-top: 84px;
  margin-left: 31px;
}
@media (min-width: 768px) {
  .header__right-year {
    font-size: 16px;
    margin-top: 102px;
    margin-right: -29px;
  }
}
@media (min-width: 960px) {
  .header__right-year {
    font-size: 16px;
    margin-top: 82px;
    margin-right: 10px;
  }
}
@media (min-width: 1440px) {
  .header__right-year {
    font-size: 15px;
  }
}
.header__right__select {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  z-index: 1;
  margin-top: 119px;
  margin-left: 30px;
}
@media (min-width: 768px) {
  .header__right__select {
    display: none;
  }
}
.header__right__select::after {
  content: url(../images/line.svg);
  margin-left: 2px;
  vertical-align: top;
}

.main {
  padding: 0 5px;
  overflow: hidden;
}
@media (min-width: 960px) {
  .main {
    padding: 0 95px;
  }
}
.main h1 {
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #000000;
  margin-top: 53px;
}
@media (min-width: 768px) {
  .main h1 {
    text-align: center;
    margin-left: 120px;
    margin-top: 94px;
  }
}
.main__texts {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.main__texts-dark {
  display: inline-block;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #000000;
  transform: rotate(-90deg);
  margin-top: 125px;
  margin-left: -10px;
}
@media (min-width: 768px) {
  .main__texts-dark {
    font-size: 16px;
    margin-top: 12px;
    margin-left: 17px;
  }
}
.main__texts-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 132.4%;
  color: #292929;
  margin-right: 32px;
  margin-top: 12px;
  width: 268px;
}
@media (min-width: 768px) {
  .main__texts-text {
    margin-right: -23px;
    margin-top: 34px;
  }
}
.main h2 {
  width: 270px;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  color: #000000;
  margin-left: 31px;
  margin-bottom: auto;
  margin-top: 52px;
}
@media (min-width: 768px) {
  .main h2 {
    margin-left: 45px;
    margin-bottom: auto;
    margin-top: 64px;
  }
}
@media (min-width: 960px) {
  .main h2 {
    font-size: 36px;
    line-height: 45px;
  }
}
@media (min-width: 1440px) {
  .main h2 {
    width: 434px;
    font-size: 56px;
    line-height: 70px;
  }
}
.main__some-text {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-align: right;
  color: #000000;
  margin-top: 1px;
  margin-right: -30px;
}
@media (min-width: 768px) {
  .main__some-text {
    margin-top: 2px;
    margin-right: -10px;
  }
}
.main__colors-color {
  display: inline-block;
}
.main__color-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 100px);
  grid-column-gap: 4%;
  margin-top: 18px;
}
@media (min-width: 768px) {
  .main__color-grid {
    grid-template-columns: repeat(9, 1fr);
    margin-top: -66px;
  }
}
.main__color-grid-block__first {
  grid-column: 4/6;
  grid-row: 1/6;
}
@media (min-width: 768px) {
  .main__color-grid-block__first {
    grid-column: 9;
  }
}
.main__color-grid-block__first__pink {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.03em;
  color: #000000;
  transform: rotate(-90deg);
  margin-left: 105px;
  margin-bottom: 45px;
  margin-right: -16px;
  margin-top: 32px;
}
@media (min-width: 768px) {
  .main__color-grid-block__first__pink {
    margin-left: 87px;
    margin-bottom: 60px;
    margin-right: 0;
    margin-top: 16px;
  }
}
.main__color-grid-block__first-rectangle {
  width: 133px;
  height: 50px;
  background: #9A0034;
  margin-left: -10px;
}
@media (min-width: 768px) {
  .main__color-grid-block__first-rectangle {
    width: 190px;
    margin-left: -88px;
  }
}
@media (min-width: 960px) {
  .main__color-grid-block__first-rectangle {
    width: 210px;
    margin-left: -109px;
  }
}
@media (min-width: 1440px) {
  .main__color-grid-block__first-rectangle {
    width: 280px;
    height: 70px;
    margin-left: -184px;
  }
}
.main__color-grid-block-rectangle {
  width: 70px;
  height: 50px;
  background: #E8D8D9;
}
@media (min-width: 960px) {
  .main__color-grid-block-rectangle {
    width: 90px;
  }
}
@media (min-width: 1440px) {
  .main__color-grid-block-rectangle {
    width: 130px;
    height: 60px;
  }
}
.main__color-grid-block-rectangle-second {
  background: #D7969E;
}
.main__color-grid-block-rectangle-third {
  background: #DEDCDC;
}
.main__color-grid-block-rectangle-fourth {
  background: #898989;
}
.main__color-grid-block-rectangle-fifth {
  background: #B7B7B7;
}
.main__color-grid-block-rectangle-six {
  background: #000000;
}
.main__color-grid-block-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  margin-top: 15px;
}
.main .section1 {
  grid-column: 4;
  grid-row: 3/6;
}
@media (min-width: 768px) {
  .main .section1 {
    grid-column: 8;
    grid-row: 4/6;
  }
}
@media (min-width: 960px) {
  .main .section1 {
    grid-column: 6;
  }
}
.main .section2 {
  grid-column: 2;
  grid-row: 3/6;
}
@media (min-width: 768px) {
  .main .section2 {
    grid-column: 7;
    grid-row: 3/6;
  }
}
@media (min-width: 960px) {
  .main .section2 {
    grid-column: 5;
  }
}
.main .section3 {
  grid-column: 5;
  grid-row: 4/6;
  text-align: -webkit-right;
}
@media (min-width: 768px) {
  .main .section3 {
    grid-column: 9;
    grid-row: 4/6;
    text-align: -webkit-left;
  }
}
@media (min-width: 960px) {
  .main .section3 {
    grid-column: 7;
    grid-row: 4/6;
    text-align: -webkit-left;
  }
}
.main .section4 {
  grid-column: 1;
  grid-row: 5/6;
}
@media (min-width: 768px) {
  .main .section4 {
    grid-row: 4/6;
  }
}
.main .section5 {
  grid-column: 2;
  grid-row: 6/6;
}
@media (min-width: 768px) {
  .main .section5 {
    grid-column: 2;
    grid-row: 5/6;
  }
}
.main .section6 {
  grid-column: 4;
  grid-row: 6/6;
}
@media (min-width: 768px) {
  .main .section6 {
    grid-column: 3;
    grid-row: 5/6;
  }
}

.footer__flex {
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
}
.footer__flex-left-img {
  width: 65px;
}
.footer__flex-right {
  margin-right: 9%;
  margin-top: 56px;
}
@media (min-width: 768px) {
  .footer__flex-right {
    margin-right: 20%;
  }
}
@media (min-width: 960px) {
  .footer__flex-right {
    margin-right: 23%;
  }
}
@media (min-width: 1440px) {
  .footer__flex-right {
    margin-right: 30%;
  }
}
.footer__flex-right h1 {
  font-weight: bold;
  font-size: 42px;
  line-height: 53px;
  letter-spacing: 0.02em;
  color: #000000;
  margin-top: 56px;
}
@media (min-width: 960px) {
  .footer__flex-right h1 {
    font-size: 48px;
    line-height: 60px;
  }
}
@media (min-width: 1440px) {
  .footer__flex-right h1 {
    font-size: 72px;
    line-height: 91px;
  }
}
.footer__flex-right p {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: #000000;
  transform: rotate(-90deg);
  margin-left: -191px;
  margin-top: -83px;
}

/*# sourceMappingURL=style.css.map */
