@font-face {
  font-family: "Cera Pro";
  src: url("CeraPro-Italic.eot");
  src: local("Cera Pro Italic"), local("CeraPro-Italic"), url("CeraPro-Italic.eot?#iefix") format("embedded-opentype"), url("CeraPro-Italic.woff") format("woff"), url("CeraPro-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Cera Pro";
  src: url("CeraPro-Regular.eot");
  src: local("Cera Pro Regular"), local("CeraPro-Regular"), url("CeraPro-Regular.eot?#iefix") format("embedded-opentype"), url("CeraPro-Regular.woff") format("woff"), url("CeraPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Cera Pro";
  src: url("CeraPro-BlackItalic.eot");
  src: local("Cera Pro Black Italic"), local("CeraPro-BlackItalic"), url("CeraPro-BlackItalic.eot?#iefix") format("embedded-opentype"), url("CeraPro-BlackItalic.woff") format("woff"), url("CeraPro-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Cera Pro";
  src: url("CeraPro-Light.eot");
  src: local("Cera Pro Light"), local("CeraPro-Light"), url("CeraPro-Light.eot?#iefix") format("embedded-opentype"), url("CeraPro-Light.woff") format("woff"), url("CeraPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Cera Pro";
  src: url("CeraPro-BoldItalic.eot");
  src: local("Cera Pro Bold Italic"), local("CeraPro-BoldItalic"), url("CeraPro-BoldItalic.eot?#iefix") format("embedded-opentype"), url("CeraPro-BoldItalic.woff") format("woff"), url("CeraPro-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Cera Pro";
  src: url("CeraPro-Black.eot");
  src: local("Cera Pro Black"), local("CeraPro-Black"), url("CeraPro-Black.eot?#iefix") format("embedded-opentype"), url("CeraPro-Black.woff") format("woff"), url("CeraPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Cera Pro";
  src: url("CeraPro-Medium.eot");
  src: local("Cera Pro Medium"), local("CeraPro-Medium"), url("CeraPro-Medium.eot?#iefix") format("embedded-opentype"), url("CeraPro-Medium.woff") format("woff"), url("CeraPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Cera Pro";
  src: url("CeraPro-Bold.eot");
  src: local("Cera Pro Bold"), local("CeraPro-Bold"), url("CeraPro-Bold.eot?#iefix") format("embedded-opentype"), url("CeraPro-Bold.woff") format("woff"), url("CeraPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Cera Pro";
  src: url("CeraPro-Thin.eot");
  src: local("Cera Pro Thin"), local("CeraPro-Thin"), url("CeraPro-Thin.eot?#iefix") format("embedded-opentype"), url("CeraPro-Thin.woff") format("woff"), url("CeraPro-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Cera Pro";
  src: url("CeraPro-MediumItalic.eot");
  src: local("Cera Pro Medium Italic"), local("CeraPro-MediumItalic"), url("CeraPro-MediumItalic.eot?#iefix") format("embedded-opentype"), url("CeraPro-MediumItalic.woff") format("woff"), url("CeraPro-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Cera Pro";
  src: url("CeraPro-LightItalic.eot");
  src: local("Cera Pro Light Italic"), local("CeraPro-LightItalic"), url("CeraPro-LightItalic.eot?#iefix") format("embedded-opentype"), url("CeraPro-LightItalic.woff") format("woff"), url("CeraPro-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Cera Pro";
  src: url("CeraPro-ThinItalic.eot");
  src: local("Cera Pro Thin Italic"), local("CeraPro-ThinItalic"), url("CeraPro-ThinItalic.eot?#iefix") format("embedded-opentype"), url("CeraPro-ThinItalic.woff") format("woff"), url("CeraPro-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Cera Pro", sans-serif;
}

.header {
  background: url(../images/Virna_oblojka_home.jpg) no-repeat;
  background-position: center;
}
@media (min-width: 768px) {
  .header {
    background: url(../images/Virna_oblojka_home768.jpg) no-repeat;
  }
}
@media (min-width: 960px) {
  .header {
    background-position: top;
  }
}
.header__flex {
  display: flex;
  justify-content: space-between;
}
.header__left {
  padding-left: 7px;
  padding-bottom: 29px;
  width: 45%;
  background: #FFFFFF;
}
@media (min-width: 768px) {
  .header__left {
    padding-top: 30px;
    padding-left: 39px;
    width: 53%;
  }
}
@media (min-width: 960px) {
  .header__left {
    padding-left: 98px;
  }
}
.header__left-logo {
  display: none;
}
@media (min-width: 768px) {
  .header__left-logo {
    display: block;
  }
}
@media (min-width: 960px) {
  .header__left-logo {
    width: 100px;
    height: 13px;
  }
}
.header__left h1 {
  display: none;
  width: 290px;
  font-weight: bold;
  font-size: 42px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: #000000;
  margin-top: 60px;
}
@media (min-width: 768px) {
  .header__left h1 {
    display: block;
  }
}
@media (min-width: 960px) {
  .header__left h1 {
    font-size: 48px;
  }
}
.header__left-clothing {
  display: none;
  width: 71px;
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  text-align: right;
  letter-spacing: 0.04em;
  color: #000000;
  margin-left: -24px;
  transform: rotate(-90deg);
}
@media (min-width: 768px) {
  .header__left-clothing {
    display: inline-block;
    margin-top: 26px;
    margin-left: -19px;
  }
}
@media (min-width: 960px) {
  .header__left-clothing {
    margin-top: 15px;
  }
}
.header__left-menus {
  display: flex;
  padding-top: 409px;
  align-items: inherit;
  justify-content: space-between;
  margin-right: 9px;
}
@media (min-width: 768px) {
  .header__left-menus {
    padding-top: 111px;
    margin-right: 24px;
  }
}
@media (min-width: 960px) {
  .header__left-menus {
    padding-top: 118px;
  }
}
.header__left-icons {
  display: flex;
  margin-left: 10px;
}
@media (min-width: 768px) {
  .header__left-icons {
    margin-left: -25px;
  }
}
.header__left-icons img {
  margin-left: 19px;
}
.header__left .active {
  display: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  z-index: 1;
  margin-right: 71px;
}
@media (min-width: 768px) {
  .header__left .active {
    display: inline-block;
  }
}
.header__left .active::after {
  content: url(../images/line.svg);
  margin-left: 2px;
  vertical-align: top;
}
.header__right {
  width: 18%;
  background: #FFFFFF;
  padding-top: 29px;
}
@media (min-width: 768px) {
  .header__right {
    width: 15%;
    padding-top: 27px;
  }
}
@media (min-width: 960px) {
  .header__right {
    width: 24%;
  }
}
.header__right-icon {
  margin-left: 13%;
}
@media (min-width: 768px) {
  .header__right-icon {
    margin-left: 40%;
  }
}
.header__right-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  transform: rotate(90deg);
  margin-top: 104px;
  margin-left: 12px;
}
@media (min-width: 768px) {
  .header__right-text {
    font-size: 16px;
    margin-top: 177px;
    margin-right: -49px;
  }
}
.header__right-year {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  transform: rotate(90deg);
  margin-top: 84px;
  margin-left: 31px;
}
@media (min-width: 768px) {
  .header__right-year {
    font-size: 16px;
    margin-top: 102px;
    margin-right: -49px;
  }
}
.header__right__select {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  z-index: 1;
  margin-top: 119px;
  margin-left: 30px;
}
@media (min-width: 768px) {
  .header__right__select {
    display: none;
  }
}
.header__right__select::after {
  content: url(../images/line.svg);
  margin-left: 2px;
  vertical-align: top;
}

/*# sourceMappingURL=style.css.map */
