@import "stylesheet.scss";
@import "vars.scss";
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: $ceraPro;
}

.header {
    background: url(../images/Virna_oblojka_home.jpg) no-repeat;
    background-position: center;
    @media (min-width: 768px){
        background: url(../images/Virna_oblojka_home768.jpg) no-repeat;
    }
    @media (min-width: 960px){
        background-position: top;
    }
    &__flex {
        display: flex;
        justify-content: space-between;
    }
    &__left {
        padding-left: 7px;
        padding-bottom: 29px;
        width: 45%;
        background: #FFFFFF;
        @media (min-width: 768px) {
            padding-top: 30px;
            padding-left: 39px;
            width: 53%;
        }
        @media (min-width: 960px) {
            padding-left: 98px;
        }
        &-logo {
            display: none;
            @media (min-width: 768px) {
                display: block;
            }
            @media (min-width: 960px) {
                width: 100px;
                height: 13px;
            }
        }
        & h1 {
            display: none;
            width: 290px;
            font-weight: bold;
            font-size: 42px;
            line-height: 100%;
            letter-spacing: 0.02em;   
            color: $black;
            margin-top: 60px;
            @media (min-width: 768px) {
                display: block;
            }
            @media (min-width: 960px) {
                font-size: 48px;
            }
        }
        &-clothing {
            display: none;
            width: 71px;
            font-weight: 500;
            font-size: 13px;
            line-height: 100%;       
            text-align: right;
            letter-spacing: 0.04em;
            color: $black;
            margin-left: -24px;
            transform: rotate(-90deg);
            @media (min-width: 768px) {
                display: inline-block;
                margin-top: 26px;
                margin-left: -19px;
            }
            @media (min-width: 960px) {
                margin-top: 15px;
            }
        }
        &-menus {
            display: flex;
            padding-top: 409px;
            align-items: inherit;
            justify-content: space-between;
            margin-right: 9px;
            @media (min-width: 768px) {
                padding-top: 111px;
                margin-right: 24px;
            }
            @media (min-width: 960px) {
                padding-top: 118px;
            }
        }
        &-icons {
            display: flex;
            margin-left: 10px;
            @media (min-width: 768px) {
                margin-left: -25px;
            }
            & img {
                margin-left: 19px;
            }
        }
        .active {
            display: none;
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;        
            color: $black;
            z-index: 1;
            margin-right: 71px;
            @media(min-width: 768px) {
                display: inline-block;
            }
            &::after {
                content: url(../images/line.svg);
                margin-left: 2px;
                vertical-align: top;
            }
        }
    }
    &__right {
        width: 18%;
        background: $white;
        padding-top: 29px;
        @media (min-width: 768px) {
            width: 15%;
            padding-top: 27px;
        }
        @media (min-width: 960px) {
            width: 24%;
        }
        &-icon {
            margin-left: 13%;
            @media (min-width: 768px) {
                margin-left: 40%;
            }
        }
        &-text {
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;
            color: #000000;         
            transform: rotate(90deg);
            margin-top: 104px;
            margin-left: 12px;
            @media (min-width: 768px) {
                font-size: 16px;
                margin-top: 177px;
                margin-right: -49px;
            }
        }
        &-year {
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            color: $black;     
            transform: rotate(90deg);
            margin-top: 84px;
            margin-left: 31px;
            @media (min-width: 768px) {
                font-size: 16px;
                margin-top: 102px;
                margin-right: -49px;
            }
        }
        &__select {
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;        
            color: $black;
            z-index: 1;
            margin-top: 119px;
            margin-left: 30px;
            @media (min-width: 768px) {
                display: none;
            }
            &::after {
                content: url(../images/line.svg);
                margin-left: 2px;
                vertical-align: top;
            }
        }
    }
}